@charset "UTF-8";

/* for wallpaper */
vbox{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg");*/
}

window{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg"); */
}

#wallpaper {
/*    background-position: center center; */
}

table{
    border-collapse: collapse;
}

hbox[warning]:after{
    content: url("chrome://kancolletimer/content/data/alert.png");
}
hbox[repair]:after{
    content: url("chrome://kancolletimer/content/data/cross.png");
}

label[cond='very-low'] {
    background-color: #fa6b6a;
}
label[cond='low'] {
    background-color: #eea87a;
}

label[few-minutes-left] {
    color: #e00000;
}

.fleet-list {
    display: inline-block;
}

.red {
    color: red;
}
.black{
    color: black;
}

a {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

toolbox{
/*    display: inline; */
}

toolbarbutton{
    vertical-align: text-top;
    margin-right: 1px;
}
