@charset "UTF-8";

/* for wallpaper */
vbox{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg");*/
}

window{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg"); */
}

#wallpaper {
/*    background-position: center center; */
}

table{
    border-collapse: collapse;
}

hbox[warning]:after{
    content: url("chrome://kancolletimer/content/data/alert.png");
}
hbox[repair]:after{
    content: url("chrome://kancolletimer/content/data/cross.png");
}

label[cond=very-low] {
    background-color: #ff0000;
}
label[cond=low] {
    background-color: #ff9900;
}
label[cond=medium] {
    background-color: #ffff00;
}
label[cond=high] {
    background-color: #33ffff;
}

label[few-minutes-left] {
    color: #e00000;
}

label[cond=no-free-space] {
    background-color: red;
}
label[cond=low-free-space] {
    background-color: orange;
}

.collapse-button {
    cursor: pointer;
    vertical-align: middle;
}

#akashi-timer-button {
    margin: 1px;
}
#akashi-timer-button:hover {
    cursor: pointer;
    border: inset 1px gray;
}

.fleet-list {
    display: inline-block;
}

.red {
    color: red;
}
.black{
    color: black;
}

a {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

toolbox{
/*    display: inline; */
}

toolbarbutton{
    vertical-align: text-top;
    margin-right: 1px;
}
