@charset "UTF-8";


/* for wallpaper */
vbox{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg");*/
}

window{
/*    background-image: url("file:///C:/Users/amano/Desktop/KdL.jpg"); */
}

#wallpaper {
/*    background-position: center center; */
}

table{
    border-collapse: collapse;
}

hbox[little-damage]:after {
    content: "[小破]";
}

hbox[warning]:after{
    content: url("chrome://kancolletimer/content/data/alert.png");
}

hbox[medium-damage]:after {
    content: "[中破]";
}
hbox[large-damage]:after {
    content: "[大破]";
}

hbox[repair]:after{
    content: url("chrome://kancolletimer/content/data/cross.png");
}

label[cond='very-low'] {
    background-color: #fa6b6a;
}
label[cond='low'] {
    background-color: #eea87a;
}

label[cond="high"] {
    background-color: #ffffc0;
}

label[few-minutes-left] {
    color: #e00000;
}

label[cond=no-free-space] {
    background-color: red;
}
label[cond=low-free-space] {
    background-color: orange;
}

.collapse-button {
    cursor: pointer;
    vertical-align: middle;
}

#akashi-timer-button {
    margin: 1px;
}
#akashi-timer-button:hover {
    cursor: pointer;
    border: inset 1px gray;
}

.fleet-list {
    display: inline-block;
}

.red {
    color: red;
}
.black{
    color: black;
}

a {
    color:blue;
    text-decoration:underline;
    cursor:pointer;
}

toolbox{
/*    display: inline; */
}

toolbarbutton{
    vertical-align: text-top;
    margin-right: 1px;
}
