@charset "UTF-8";

hr {
    padding: 0;
    margin: 10px;
    border-width: 1px 0px 0px 0px;
    border-style: solid; /*dashed;*/
}

prefwindow vbox button {
    min-width: 0;
}

#order-of-dashboard listitem:-moz-drag-over {
    border: 1px solid black;
    font-weight: bold;
}
