@charset "UTF-8";

#newshiplist-equipment-filter {
}

#newshiplist-equipment-filter:hover {
}

#equipment-list *:hover {
    cursor: pointer;
    text-shadow: 1px 1px 0px #bbbbbb;
}

tree#equipment-tree treecol {
    margin-left: 4px;
}


splitter {
    border: 0;
    -moz-border-end: 1px solid #A9B7C9;
    min-width: 0;
    width: 10px;
    background-color: transparent;
    -moz-margin-start: -3px;
    position: relative;
}
